{% extends 'base.html' %}
<!-- template inheritence -->

{% block title %} About {% endblock title %} 
{% block style %} 
.footer{
  position:fixed;
  bottom:0;
}
{% endblock style %}
{% block body %}
<h1>About Company</h1>
<hr />
Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut numquam dignissimos
consequatur neque reprehenderit ipsa dolorem ab odio suscipit ullam. Adipisci
nam praesentium asperiores nulla molestias, inventore, officia eos ipsa quis
voluptate perspiciatis perferendis velit obcaecati repudiandae sint aperiam
nihil magni quae laboriosam! Molestias vero delectus dignissimos voluptatem at,
quis voluptas, beatae quidem modi, harum sint enim. Nisi, doloribus adipisci!
Voluptates iure rerum, dolores maxime quia consequatur in deserunt quis sit
nesciunt, dolorum delectus optio exercitationem dolore quod veniam iste nulla
voluptatibus tenetur, molestiae odit. Praesentium, quis, blanditiis obcaecati,
minus distinctio est earum facilis magni dolorem omnis aspernatur beatae
adipisci.
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis suscipit
  impedit nihil hic praesentium labore, nam iusto soluta amet molestias eos
  illum similique necessitatibus, placeat accusamus ipsa illo. Non repellendus
  libero hic nam est nobis ad blanditiis iste. Aut, commodi voluptates
  dignissimos eos quasi eligendi.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta provident fuga
  aperiam.
</p>
{% endblock body %}
